<div data-square-1>
    <div data-buttons>
        <div data-left></div>
        <div data-up></div>
        <div data-right></div>
        <div data-down></div>
    </div>
    <div data-square-face></div>
</div>
<div data-square-2>
    <div data-buttons>
        <div data-left></div>
        <div data-up></div>
        <div data-right></div>
        <div data-down></div>
    </div>
    <div data-square-face></div>
</div>
<div data-square-3>
    <div data-buttons>
        <div data-left></div>
        <div data-up></div>
        <div data-right></div>
        <div data-down></div>
    </div>
    <div data-square-face></div>
</div>
<div data-square-4>
    <div data-buttons>
        <div data-left></div>
        <div data-up></div>
        <div data-right></div>
        <div data-down></div>
    </div>
    <div data-square-face></div>
</div>
<div data-square-5>
    <div data-buttons>
        <div data-left></div>
        <div data-up></div>
        <div data-right></div>
        <div data-down></div>
    </div>
    <div data-square-face></div>
</div>
<div data-square-6>
    <div data-buttons>
        <div data-left></div>
        <div data-up></div>
        <div data-right></div>
        <div data-down></div>
    </div>
    <div data-square-face></div>
</div>
