<div id="perspective">
  <div id="cube">
    <div class="face one">
      <div class="prize"><img src="/assets/question-mark.png"></div>
    </div>
    <div class="face two">
      <div class="prize"><img src="/assets/ducati.jpg"></div>
    </div>
    <div class="face three">
      <div class="prize"><img src="/assets/question-mark.png"></div>
    </div>
    <div class="face four">
      <div class="prize"><img src="/assets/question-mark.png"></div>
    </div>
    <div class="face five">
      <div class="prize"><img src="/assets/question-mark.png"></div>
    </div>
    <div class="face six">
      <div class="prize"><img src="/assets/question-mark.png"></div>
    </div>
  </div>
</div>
<center>
<div class="buttons">
  <div data-direction="90 0" class="button button-gray">Up</div>
  <div data-direction="-90 0" class="button button-gray">Down</div>
  <div data-direction="0 90" class="button button-gray">Right</div>
  <div data-direction="0 -90" class="button button-gray">Left</div>
</div>
</center>



<!-- <div data-square-1>
    <div data-buttons>
        <div data-left class="button button-gray">Left</div>
        <div data-up class="button button-gray">Up</div>
        <div data-right class="button button-gray">Right</div>
        <div data-down class="button button-gray">Down</div>
    </div>
    <div data-square-face class="height-10 width-10 bg-blue rounded"></div>
</div>
<div data-square-2 class='block'>
    <div data-buttons>
        <div data-left class="button button-gray">Left</div>
        <div data-up class="button button-gray">Up</div>
        <div data-right class="button button-gray">Right</div>
        <div data-down class="button button-gray">Down</div>
    </div>
    <div data-square-face class="height-10 width-10 bg-blue rounded"></div>
</div>
<div data-square-3>
    <div data-buttons>
        <div data-left class="button button-gray">Left</div>
        <div data-up class="button button-gray">Up</div>
        <div data-right class="button button-gray">Right</div>
        <div data-down class="button button-gray">Down</div>
    </div>
    <div data-square-face class="height-10 width-10 bg-blue rounded"></div>
</div>
<div data-square-4>
    <div data-buttons>
        <div data-left class="button button-gray">Left</div>
        <div data-up class="button button-gray">Up</div>
        <div data-right class="button button-gray">Right</div>
        <div data-down class="button button-gray">Down</div>
    </div>
    <div data-square-face class="height-10 width-10 bg-blue rounded"></div>
</div>
<div data-square-5>
    <div data-buttons>
        <div data-left class="button button-gray">Left</div>
        <div data-up class="button button-gray">Up</div>
        <div data-right class="button button-gray">Right</div>
        <div data-down class="button button-gray">Down</div>
    </div>
    <div data-square-face class="height-10 width-10 bg-blue rounded"></div>
</div>
<div data-square-6>
    <div data-buttons>
        <div data-left class="button button-gray">Left</div>
        <div data-up class="button button-gray">Up</div>
        <div data-right class="button button-gray">Right</div>
        <div data-down class="button button-gray">Down</div>
    </div>
    <div data-square-face class="height-10 width-10 bg-blue rounded"></div>
</div> -->
