#perspective {
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: 80% 300px;
  padding: 100px 100px 100px 100px;
}

#cube {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform-style: preserve-3d;
}


.face {
  position: absolute;
  height: 360px;
  width: 360px;
  padding: 20px;
  background-color: rgba(50, 50, 50, .8);
  border: 1px solid black;
/*  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform-style: preserve-3d;*/
}

.prize {
  position: absolute;
  height: 300px;
  width: 300px;
  padding: 30px;
  /*background-color: red;*/
}

#cube .top  {
  -webkit-transform: rotateX(90deg) translateZ(200px);
}

#cube .front {
  -webkit-transform: translateZ(200px);
}

#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(200px);
}

#cube .back {
  -webkit-transform: rotateY(180deg) translateZ(200px);
}

#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
}

#cube .bottom    {
  -webkit-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
}

#cube img {
    margin: auto;
}

.bottom img {
    -moz-transform: scaleY(-1) scaleX(-1);
    -o-transform: scaleY(-1) scaleX(-1);
    -webkit-transform: scaleY(-1) scaleX(-1);
    transform: scaleY(-1) scaleX(-1);
    filter: FlipV FlipH;
}

.move-counter{
  height: 50px;
  width: 50px;
  border: solid 1px black;
  border-radius: 10px;
}

