.walmart {
    font-family: Arial,sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 19px;
}
.walmart img{
   width: 100%;
}
.rules {
    height: auto;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(225, 170, 100, .7);
    margin: 0 auto 2rem;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
    line-height: 1.25rem;
    letter-spacing: 1px;
}
.rules span {
    font-weight: bold;
}
.move-counter{
    height: 2.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(100, 225, 100, 1);
    text-align: center;
    width: 15rem;
    margin: 3rem auto 0;
    border-radius: 5px;
    line-height: 2.3rem;
    font-size: 2rem;
    padding: .1rem;
}
.game-container {
    background-color: rgba(200, 255, 200, .5);
    max-height: 700px;
    max-width: 720px;
    margin: 2rem auto;
    border: 2px solid rgba(170, 255, 170, .5);
    border-radius: 1rem;
    padding: 2rem 1rem;
}
.perspective {
    width: 150px;
    height: 150px;
    position: relative;
    perspective: 600px;
    -webkit-perspective-origin: 100% 0px;
    padding: 60px 60px 0 0;
}
.cube {
    width: 150px;
    height: 150px;
    position: absolute;
    transform-style: preserve-3d;
}
.cube .face {
    width: 142px;
    height: 142px;
    display: block;
    position: absolute;
    border: 4px solid rgba(0, 55, 100, 1);
    background-color: rgba(0, 0, 0, 1);
    border-radius: 8px;
    transition: background-color .25s linear, border-color .25s linear;
}
.cube .front  { transform: rotateY(  0deg ) rotateX(  0deg ) translateZ( 75px ); }
.cube .back   { transform: rotateY(  0deg ) rotateX(  180deg ) translateZ( 75px ); }
.cube .right  { transform: rotateX(  0deg ) rotateY(  90deg )  translateZ( 75px ); }
.cube .left   { transform: rotateX(  0deg ) rotateY(  -90deg ) translateZ( 75px ); }
.cube .top    { transform: rotateY(  0deg ) rotateX(  90deg ) translateZ( 75px ); }
.cube .bottom { transform: rotateY(  0deg ) rotateX( -90deg ) translateZ( 75px ); }
.cube { transition: transform 2s linear; }
.cube { transform: translateZ(-75px);}
.prize img {
    max-height: 122px;
    max-width: 122px;
    padding: 10px;
    border-radius: 17px;
}
.cube-holder {
    display: inline-block;
    margin: 0 0 1rem 1rem;
}
.cube-row {
    display: inline-block;
    margin-left: 2rem;
}
.second-row{
    margin-top: 1.5rem;
}
.buttons {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.buttons .button {
    position: absolute;
    padding: 5px;
    min-height: initial;
    line-height: normal;
}
[data-up] {
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    width: 3rem;
    height: 2rem;
    top: -2px;
    right: 45%;
}
[data-down] {
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    width: 3rem;
    height: 2rem;
    bottom: -49px;
    right: 45%;
}
[data-left] {
    border-top-right-radius: 3rem;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 3rem;
    width: 2rem;
    height: 3rem;
    left: -50px;
    top: 45%;
}
[data-right] {
    border-top-right-radius: 10rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 10rem;
    width: 2rem;
    height: 3rem;
    right: -3px;
    top: 45%;
}
/*.preload-imgs img {
    height: 0px;
    width: 0px;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
}*/
.prize-gallery {
    width: 200px;
}
.prize-gallery img {
    height: 100px;
    background-color: rgba(60, 225, 100, .7);
    border-radius: 5px;
}
.fa-arrow-left:before,
.fa-arrow-right:before {
    line-height: 2.9rem;
}
.fa-2:before {
    color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
}
.shopcube {
    position: absolute;
    right: 18rem;
    color: #777777
}